.vscode/*
CGN/*.STAMP
CGN/*.[ch]
CGN/BuildVersion.impl
CGN/CGNInit.?
CGN/GawlKeeper.terms
CGN/StaticSemantics.*
CGN/cgnlib
CGN/cgnpath
CGN/makefile
GawlKeeper.linux64
Generated/*
Grammar/GawlKeeper.*
!Grammar/GawlKeeper.front
/Print.*
CLAUDE.local.md
